header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;

    box-sizing: content-box;

    & div{
        width: 33%;
    }
}

p{
    margin: 0;
}

.personal-container-body {
    width: 100vw;
    height: 100vh;
    display: block;
}
.personal-button{
    position: relative;
    cursor: pointer;
}
.personal-button-dropdown {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.personal-dropdown-none{
    display: none;
}
.personal-dropdown{
    display: block;
    border: 1px #E0E0E0 solid;
    border-radius: 12px;
    width: 200px;

    padding: 10px;

    position: absolute;
    right: 0;
    top: 40px;

    & i{
        margin-right: 10px;
    }

    & .personal-dropdown-category{
        padding: 5px 20px;
    }

    & .personal-dropdown-logout{
        padding: 5px 20px;
        color: #eb5757;
    }
}



.personal-button-theme{
    border-radius: 8px;
    color: white;
    padding: 0 5%;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personal-title {
    font-size: 36px;
    margin-top: 50px;
}

.personal-subtitle {
    font-size: 18px;
    margin-bottom: 50px;
}

.personal-information {
    width: 60%;
    height: auto;
    border: 1px #E0E0E0 solid;
    border-radius: 12px;

    & div {
        margin: 10px auto;
    }
}

.personal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;

    & h1 {
        font-size: 24px;
    }

    & h3 {
        font-size: 13px;
        color: #828282;
    }

    & .button-edit {
        padding: 5px 35px;
        border: 1px #828282 solid;
        border-radius: 8px;
        background-color: white;

        font-size: 16px;

        text-decoration: none;
        color: #828282;
    }
}

.personal-content {
    display: flex;
    align-items: center;
    padding: 2% 5%;

    & p:first-child {
        width: 150px;
    }

    & .personal-content-category {
        color: #BDBDBD;
    }
}