body {
    font-family: 'Noto Sans Devanagari', 'Noto Sans Tamil', 'Noto Sans', 'Noto Sans Symbols 2', sans-serif;
    margin: 0;
    padding: 0;
}

.light {
    transition: 0.5s;
    background-color: white;
}

.dark {
    transition: 0.5s;
    background-color: black;
}

.button-theme {
    position: absolute;
    top: 10px;
    right: 30%;

    background-color: #2F80ED;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 14px;
}

.text-logo{
    font-weight: 600;
}

.container-body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.content {
    border-radius: 24px;
    border: 1px #BDBDBD solid;
    width: 70%;
    max-width: 600px;
    height: auto;
    padding: 60px;
    margin: 0 auto;
}

.content>* {
    margin-bottom: 30px;
}

.logo {
    width: 50px;
    height: auto;
}

.title {

    width: 80%;

    & p {
        font-weight: 600;
        font-size: 18px;
        line-height: 24.52px;
    }

}

.description {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 90%;
}

.text-light-theme {
    transition: 0.5s;
    color: #333333;
}

.text-dark-theme {
    transition: 0.5s;
    color: #E0E0E0;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.form-login * {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 16px;


    border-radius: 8px;

    &[type="email"],
    &[type="password"] {
        border: 1px #BDBDBD solid;
        width: 100%;
        text-indent: 30px;
        padding: 16px;
    }

    &[type="submit"] {
        background-color: #2F80ED;
        border: none;
        color: white;
        padding: 14px;
        margin-top: 15px;

        &:hover {
            background-color: #4797ff;
        }
    }
}

.input-form {
    display: flex;
    position: relative;

    & i {
        position: absolute;
        padding: 16px;
    }
}


.other-login-options,
.login {
    text-align: center;
    color: #828282;
    font-size: 14px;
}

.login a {
    text-decoration: none;
    color: #2D9CDB;
}

.social-network-login {
    display: flex;
    justify-content: space-evenly;

    font-size: 32px;
    color: #828282;

    & i:hover {
        color: #575757;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .content {
        border: none;
        width: 100%;
        max-width: none;
        height: auto;
        padding: 60px;
        margin: 0 auto;
    }
}